html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.calcite-theme-light,
.calcite-theme-dark {
  --calcite-ui-brand: #00619b;
  --calcite-ui-brand-hover: #00304d;
  --calcite-ui-brand-press: #77bde7;
  --calcite-ui-icon-color: #00619b;
}

.esri-widget,
.esri-widget__heading,
.esri-menu,
.esri-popup__main-container,
.esri-popup__header-container--button:hover,
.esri-popup__pointer-direction {
  background-color: var(--calcite-ui-foreground-1) !important;
  color: var(--calcite-ui-text-2) !important;
}

.esri-button,
.esri-popup__button,
.esri-widget--button {
  background-color: var(--calcite-ui-foreground-1) !important;
  color: var(--calcite-ui-icon-color) !important;
}

header[slot="header"] {
  padding: 0 1rem 0 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid var(--calcite-ui-brand);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

#sign-in-user-label {
  color: var(--calcite-ui-brand);
}

.application-title {
  color: var(--calcite-ui-brand);
}

calcite-panel > div[slot="header-actions-start"],
calcite-panel > div[slot="header-actions-end"] {
  display: inline-flex;
}

#center-container {
  /*flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;*/
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#view-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
