
.pane {
  position: relative;
  margin: 5px;
  padding: 10px;
  border: solid 1px #cccccc;
  overflow: hidden;
}


.pane.collapsed > .pane-section {
  display: none;
}

.pane .toggle {
  cursor: pointer;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  top: 5px;
  right: 5px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: solid 1px #cccccc;
}

.pane .toggle:before {
  content: '+';
}

.pane.collapsed .toggle:before {
  content: '-';
}

.pane .toggle:hover {
  background-color: #cccccc;
  border-color: #666666;
}

.pane-section {
  position: relative;
  margin: 5px;
  padding: 10px;
  max-height: 400px;
  overflow: auto;
  background-color: #efefef;
}

.pane-label {
  font-weight: 600;
}

.layer-item {
  margin: 2px;
  padding: 2px;
}

.diagram-item {
  margin: 2px;
  padding: 2px;
  border-left: solid 1.5rem transparent;
}

.diagram-item.multipart {
  color: red;
}
