.pane {
  position: relative;
  margin: 5px;
  padding: 10px;
  border: solid 1px #cccccc;
  overflow: hidden;
}

.hide {
  display: none;
}

.pane.collapsed > .pane-section {
  display: none;
}

.pane .toggle {
  cursor: pointer;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  top: 5px;
  right: 15px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: solid 1px #cccccc;
  background-color: #efefef;
}

/* Source: https://www.w3schools.com/css/css_form.asp */
input[type='text'] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 250px;
  background-color: white;
  background-repeat: no-repeat;
  padding: 6px 10px 6px 20px;
}

/* Source: https://css-tricks.com/considerations-styling-pre-tag/ */
pre {
  white-space: pre-wrap;
  overflow-x: auto;
  background-color: #ccc;
  max-width: 50%;

}

.pane .toggle:before {
  content: '-';
}

.pane.collapsed .toggle:before {
  content: '+';
}

.pane .toggle:hover {
  background-color: #cccccc;
  border-color: #666666;
}

.pane-section {
  position: relative;
  margin: 5px;
  padding: 10px;
  max-height: 300px;
  overflow: auto;
  background-color: #efefef;
  border: solid 1px #cccccc;
}

.pane-title {
  padding: 5px 0;
  font-size: larger;
  font-weight: 600;
}

.pane-links {
  margin: 10px 0;
}

.pane-label {
  font-weight: 600;
}

.diagram-item {
  margin: 2px;
  padding: 2px;
  border-left: solid 1.5rem transparent;
}

.diagram-item.multipart {
  color: red;
}

.diagram-item.multipart:after {
  content: '***';
  font-size: larger;
  font-weight: bold;
}

.action-btn {
  cursor: pointer;
  width: 300px;
  padding: 10px;
  margin: 5px;
  font-size: larger;
}

.geoplanner-list-item {
  cursor: pointer;
  margin: 2px;
  padding: 2px 2px 2px 10px;
  border: solid 1px transparent;
  border-left: solid 4px #666666;
}

.geoplanner-list-item:hover {
  color: dodgerblue;
  border-left-color: dodgerblue;
}

.geoplanner-list-item.selected {
  color: dodgerblue;
  border-color: dodgerblue;
  background-color: #ffffff;
}
